@font-face {
    font-family: 'Fjalla One', sans-serif;
}
#b{
    background: none repeat scroll 0% 0% #dddddd;
}
/* ==================== My Header ============================================================================ */

#myBrand{
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
    color: #ffffff;
}
#myBrand:hover{
    color: #000000;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), 0px 0px 30px rgba(255, 255, 255, 0.225);
    transition: all 0.2s linear;
}
#sch{
    background-color: inherit !important;
}
#img-sch{
    color: #ffffff;
    cursor: pointer;
    padding: 17px;
}
#img-sch:hover{
    color: #000000;
}
#area-sch{
    position: fixed;
    z-index: 1;
    background: #1188dd;
    padding: 10px;
    transition: all 0.2s linear 0s;
    display: none;
}
#sch-event{
    position: absolute;
    float: left;
    right: 17px;
    padding: 10px;
}
#text-sch{
    padding-right: 40px;
    float: left;
    border: none;
}

/* My Navigation*/
#mybar{
    /*background: none repeat scroll 0% 0% #384248;*/
    background: none repeat scroll 0% 0% #1188dd;
    border-radius: 0px;
    border-bottom: 1px solid #1166dd;
    margin: 0;
    box-shadow: 0px 2px 2px #cccccc;
}
#myul{

}
#myul li{

}
#myul li a{
    font-family: 'Fjalla One', sans-serif;
    margin: 0;
    color: #ffffff;
    font-size: 12px;
}
#myul li ul li a{
    background: none repeat scroll 0% 0% #ffffff;
}
#myul li ul li a{
    font-family: 'Fjalla One', sans-serif;
    margin: 0;
    color: #777777;
    font-size: 12px;
}
#myul li a:hover{
    /*background: none repeat scroll 0% 0% #000000;*/
    background-color:rgba(0,0,0,0.5);
    color: #ffffff;
}
#myul li a:focus{
    /*background: none repeat scroll 0% 0% #000000;*/
    background-color:rgba(0,0,0,0.5);
}
.active-page{
    /*background: none repeat scroll 0% 0% #000000;*/
    background-color:rgba(0,0,0,0.5);
}

#my-tog{
    border-radius: 3px;
    background-color: #ffffff;
}
#my-tog:hover{
    background-color:rgba(0,0,0,0.7);
}
#my-tog:active{
    background-color:rgba(0,0,0,0.7);
}.wrap-sch{
    border-radius: 7px;
    padding: 10px;  transition: all 0.2s linear;
 }
 .contact-heading{
     margin-top: 20px;
     color: #1188dd;
     font-family: 'Fjalla One', sans-serif;
 }
 #register{
     margin-top: 50px;
     margin-bottom: 80px;
 }
 #login{
     margin-top: 50px;
     margin-bottom: 100px;
 }
 .my-panel{
     border: 1px solid #1188dd;
     box-shadow: 10px 10px 10px #cccccc;
 }
 .my-panel-heading{
     background: none repeat scroll 0% 0% #1188dd;
     padding: 13px 0;
     border-radius: 3px 3px 0 0;
     color: #ffffff;
     font-family: 'Fjalla One', sans-serif;
     text-align: center;
 }
.btn-submit{
    background: none repeat scroll 0% 0% #1188dd;
    border: none;
    padding: 7px;
    border-radius: 3px;
    color: #ffffff;
    font-family: 'Fjalla One', sans-serif;
}
/* ============== My Footer ================================================================================= */
#myfooter{
    background: none repeat scroll 0% 0% #1188dd;
    font-family: 'Fjalla One', sans-serif;
    border-top: 1px solid #ffffff;
}
.title-footer{
    font-size: 16px;
    color: #ffffff;
    padding: 15px 0 10px 0;
    border-bottom: 1px solid #ffffff;
}
.list-footer{
    padding: 10px 0;
}
.list-footer li{
    list-style: none;
}
.list-footer li a{
    font-size: 11px;
    color: #ffffff;
    text-decoration: none;
}
.list-footer li a:hover{
    color: #000000;
    text-decoration: none;
}
#copyright{
    font-family: 'Fjalla One', sans-serif;
    background: none repeat scroll 0% 0% #1166bb;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

/* ======================= Page =============================================== */
/* ===== home page ========= */
.rowTap{
    margin: 30px 0;
}
.mybg-container{
    background-color: #ffffff;
    margin-top: 50px;
    padding: 20px 20px 50px 20px;
}
.myRow{
    margin: 30px 0 10px 0;
}
.myRowP{
    margin: 70px 0;
}
.myRowC{
    margin: 0 0 20px 0;
}
.img-link{
    text-decoration: none;
}
.img-link:hover{
    text-decoration: none;
}
.img-item{
    border-radius: 5px;
    padding: 10px;
}
.img-item:hover{
    box-shadow: 0 5px 10px #888888;
}
.img-item:active{
    box-shadow: 0 5px 10px #888888;
    background: rgba(0,120,230,0.2);
}
.my-carousel-caption{
    bottom: 20px;
    left: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    font-family: 'Fjalla One', sans-serif;
    background-color: rgba(0,120,230,0.2);
    padding: 30px;
    width: 40%;
    box-shadow: 5px 5px 5px #00aaff;
}
.admin-form{
    margin: 20px 0;
}
#my-carousel{
    border: 5px solid #00aaff;
    border-radius: 5px;
    box-shadow: 0px 10px 20px #aaaaaa;
}
.box-body{
    border: 5px solid #00aaff;
    border-radius: 5px;
    box-shadow: 0 10px 20px #aaaaaa;
    padding: 20px 0;
}
.options{
    margin: 50px;
}
.img-user{
    border: 1px solid #1188dd;
    border-radius: 5px;
}
.options-admin{
    display: none;
}
.admin-btn{
    margin-bottom: 10px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 11px;
}
#my-right{
    left: auto;
    right: 0;
}
.title-body{
    color: #1177cc;
    font-size: 18px;
    font-family: 'Fjalla One', sans-serif;
    padding: 10px 0;
    /*border-bottom: 5px solid #cccccc;*/
}
#list-product{
    background: inherit !important;
    margin: 35px 0;
}
#list-product li{
    list-style: none;
    padding: 8px 0;
    border-top: 1px solid #ffffff;
    background: none repeat scroll 0% 0% #0088bb;
}
#list-product li a{
    margin-left: 30px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 14px;
    color: #ffffff;
}
#list-product li a:hover{
    text-decoration: none;
    color: #000000;
}
#list-product li a:active{
    text-decoration: none;
    color: #000000;
}
#list-product li div div ul li{
    border-top: none;
    padding: 0;
}
#list-product li div div ul li a{
    color: #ffffff;
    font-size: 10px;
}
#list-product li div div ul li a:hover{
    color: #000000;
}
.item-unique{
    padding-top: 20px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    margin-bottom: 30px;
}
.item-table{
    font-family: 'Fjalla One', sans-serif;
    font-size: 10px;
}
.item-btn{
    border-top: 1px solid #cccccc;
}
.buy-btn{
    background: none repeat scroll 0% 0% #0088dd;
    color: #ffffff;
    font-size: 12px;
    padding: 15px;
    margin: 10px 0;
    display: inline-block;
    font-family: 'Fjalla One', sans-serif;
    text-decoration: none;
    transition: all 0.2s linear 0s;
}
.buy-btn:hover{
    color: #ffffff;
    text-decoration: none;
    padding-left: 50px;
    background: none repeat scroll 0% 0% #0055aa;
}
.buy-btn:focus{
    color: #ffffff;
    text-decoration: none;
}
.detail-btn{
    background: none repeat scroll 0% 0% #0088dd;
    color: #ffffff;
    font-size: 12px;
    padding: 15px;
    margin: 10px 0;
    display: inline-block;
    font-family: 'Fjalla One', sans-serif;
    text-decoration: none;
    transition: all 0.2s linear 0s;
}
.detail-btn:hover{
    color: #ffffff;
    text-decoration: none;
    padding-right: 50px;
    background: none repeat scroll 0% 0% #0055aa;
}
.detail-btn:focus{
    color: #ffffff;
    text-decoration: none;
}
.product-btn{
    background: inherit;
    border: none;
    margin: 0;
    color: #ffffff;
    font-family: 'Fjalla One', sans-serif;
    font-size: 12px;
}
#speaker{
    background: inherit;
    border: none;
    color: #ffffff;
    font-family: 'Fjalla One', sans-serif;
    margin-left: 24px;
    font-size: 14px;
    margin-bottom: -13px;
}
#speaker:hover{
    color: #000000;
}
#sbProfile{
    border: 1px solid #1188dd;
    margin-top: 20px;
}
#wkProfile{
    margin-top: 20px;
}